[Desktop Entry]
Name=Flashbyte
Comment=File sharing over local network
Exec=flashbyte
Icon=flashbyte
Terminal=false
Type=Application
Categories=Network;FileTransfer;
StartupWMClass=com.iamsami.flashbyte
